
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300;600&display=swap');


h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: unset;
  }