$colors: (
  primary: #c21981,
  primary-dark: #a0146a,
  primary-semi-light: #eb47ac,
  primary-light: #f5a3d6,
  secondary: #111155,
  secondary-dark: #0b0b41,
  secondary-semi-light: #3333d7,
  accent: #ffa500,
  accent-semi-light: #ffc65c,
  accent-light: #fff6e7,
);