@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 249, 246;
  --background-rgb: 11, 6, 12;
  // --gradient-start-rgb: 73, 37, 255;
  --gradient-start-rgb: 107, 8, 139;
  --gradient-end-rgb: 255, 145, 53;
  // --gradient-trans-start-rgb: 73, 37, 255, 0.45;
  --gradient-trans-start-rgb: 107, 8, 139, 0.45;
  --gradient-trans-end-rgb: 255, 145, 53, 0.45;
}

*, html {
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  .mainContainer {
    @apply mx-5 sm:mx-16 md:mx-32 lg:mx-44 2xl:mx-auto 2xl:max-w-[1200px] font-medium;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text{
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right, rgb(var(--gradient-start-rgb)), rgb(var(--gradient-end-rgb)));
  }
}

@layer components {
  .bg-radial-gradient {
    background-image: radial-gradient(circle, rgb(var(--gradient-start-rgb)) 0%, rgb(var(--gradient-end-rgb)) 100%);
    background-position: right center;
    background-size: 200% 100%;
    &:hover{
      background-position: left center;
    }
  }
  .border-gradient{
    &::after{
      @apply rounded-md absolute content-[""] top-[2px] left-[2px] right-[2px] bottom-[2px];
      background: rgb(var(--background-rgb));
    }
  }
  .bg-gradient{
    background-image: linear-gradient(to right, rgb(var(--gradient-trans-start-rgb)), rgb(var(--gradient-trans-end-rgb)));
  }
  .bg-basic{
    background-color: rgb(var(--background-rgb));
  }
  .input-border{
    @apply mt-1 p-3 w-full bg-inherit rounded-lg outline-none border border-zinc-400
  }

  .carousel-track {
    @apply absolute flex gap-8 left-0 w-[200%] h-20 items-center;
    animation: slide 8s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
  }

  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
}



